In [21]:
# import dependencies
import pandas as pd

# Load CSV files
school_data = pd.read_csv('schools_complete.csv')
student_data = pd.read_csv('students_complete.csv')

# Merge data into one DataFrame
school_df = pd.merge(student_data, school_data, how='left', on=['school_name', 'school_name'])
school_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [22]:
## District Summary

In [23]:
# Total number of unique schools
total_schools = school_df['school_name'].nunique()

# Total number of students
total_students = school_df['student_name'].count()

# Total budget
total_budget = school_df['budget'].sum()

# Average math score
math_score_avg = school_df['math_score'].mean()

# Average reading score
reading_score_avg = school_df['reading_score'].mean()

# Percentange of students with passing math scores
passing_math = (school_df['math_score'] >= 70).mean() * 100

# Percentage of students with passing reading scores
passing_reading = (school_df['reading_score'] >= 70).mean() * 100

# Percentage of students with passing reading and math scores
passing_overall = ((school_df['math_score'] >= 70) & (school_df['reading_score'] >= 70)).mean() * 100

#District Summary DF
district_summary = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [math_score_avg],
    '% Passing Math': [passing_math],
    '% Passing Reading': [passing_reading],
    '% Overall Passing': [passing_overall]
})

In [24]:
## School Summary

In [25]:
# Group by school name
by_school = school_df.set_index('school_name').groupby(['school_name'])

# School type
school_type = school_df.set_index('school_name')['type']

# Total students by school
total_students_school = by_school['Student ID'].count()

# Total school budget
total_school_budget = school_df.set_index('school_name')['budget']

# Budget per student
per_student_budget = total_school_budget / total_students_school

# Average math score by school
avg_math_score_school = by_school['math_score'].mean()

# Average reading score by school
avg_reading_score_school = by_school['reading_score'].mean()

# Percentage passing math by school
passing_math_percentage_school = school_df[school_df['math_score'] >= 70].groupby('school_name')['Student ID'].count() / total_students_school * 100

# Percentage reading by school
passing_reading_percentage_school = school_df[school_df['reading_score'] >= 70].groupby('school_name')['Student ID'].count() / total_students_school * 100

# Overall passing percentage by school
overall_passing_percentage = school_df[(school_df['math_score'] >= 70) & (school_df['reading_score'] >= 70)].groupby('school_name')['Student ID'].count() / total_students_school * 100

# School Summary DF
school_summary = pd.DataFrame({
    'School Type': school_type,
    'Total Students': total_students_school,
    'Total School Budget': total_school_budget,
    'Per Student Budget' : per_student_budget,
    'Average Math Score' : avg_math_score_school,
    'Average Reading Score' : avg_reading_school,
    '% Passing Math' : passing_math_percentange_school,
    '% Passing Reading' : passing_reading_percentage_school
})

NameError: name 'avg_reading_school' is not defined

In [ ]:
## Highest-Performing Schools

In [ ]:
top_schools = school_summary.sort_values(by='% Overall Passing', ascending=False).head(5)

In [ ]:
## Lowest-Performing Schools

In [ ]:
bottom_schools = school_summary.sort_values(by='% Overall Passing').head(5)

In [ ]:
## Math Score by Grade

In [ ]:
# Pivot table
math_scores_by_grade = school_df.pivot_table(values='math_score', index='school_name', columns='grade', aggfunc='mean')

# Reorder columns
math_scores_by_grade = math_scores_by_grade[['9th', '10th', '11th', '12th']]

In [ ]:
## Reading Scores by Grade

In [ ]:
# Pivot Table
reading_scores_by_grade = school_df.pivot_table(values='reading_score', index='school_name', columns='grade', aggfunc='mean')

# Reorder columns
reading_scores_by_grade = reading_scores_by_grade[['9th', '10th', '11th', '12th']]

In [ ]:
## Scores by School Spending

In [ ]:
# Bins by spending ranges
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]
school_summary['Spending Ranges (Per Student)'] = pd.cut(school_summary['Per Student Budget'], bins=spending_bins, labels=spending_labels)

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

# Create DF
spending_summary = {
    'Average Math Score': spending_math_scores,
    'Average Reading Score': spending_reading_scores,
    '% Passing Math': spending_passing_math,
    '$ Passing Reading': spending_passing_reading,
    '% Overall Passing': overall_passing_spending}

spending_summary_df = pd.DataFrame(spending_summary)

In [ ]:
## Scores by School Size

In [ ]:
# Bin by school size
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_summary['School Size'] = pd.cut(school_summary['Total Students'], bins=size_bins, labels=size_labels)

# Group by school size
size_summary = school_summary.groupby('Spending Ranges (Per Student)').agg({
    'Average Math Score': 'mean',
    'Average Reading Score': 'mean',
    '% Passing Math': 'mean',
    '$ Passing Reading': 'mean',
    '% Overall Passing': 'mean'
})

In [ ]:
## Scores by School Type

In [ ]:
# Group by school type
type_summary = school_summary.groupby('School Type').agg({
    'Average Math Score': 'mean',
    'Average Reading Score': 'mean',
    '% Passing Math': 'mean',
    '% Passing Reading': 'mean',
    '% Overall Passing': 'mean'
})